<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.gdmuConnectionString"
            connectionString="Data Source=DESKTOP-52O598N\MSSQLSERVERCPY;Initial Catalog=gdmu;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>